<%- include('../partials/_htmlhead') %>
<title>stories</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1>stories index</h1>
    
    <div class="cards">
        <% stories.forEach(story => { %>
        <a href="/stories/<%= story._id %>" class="card-wrapper">
            <div class="card">
                <h3><%= story.name %></h3>
                <p>by</p>
                <h3><%= story.owner.alias ? story.owner.alias : story.owner.username %></h3>
            </div>
        </a>
        <% }); %>
    </div>
</body>

</html>