<%- include('../partials/_htmlhead') %>
<title>stories</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="text-center m-4">stories (alphabetical)</h1>
    <div class="cards py-2 mt-0">
        <% stories.forEach(story => { %>
        <a href="/stories/<%= story._id %>" class="card-wrapper m-1">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h3 class="card-title"><%= story.name %></h3>
                    <p class="card-text">by</p>
                    <h3 class="card-subtitle text-muted">
                        <%= story.owner.alias ? story.owner.alias : story.owner.username %></h3>
                </div>
            </div>
        </a>
        <% }); %>
    </div>
</body>

</html>