<%- include('../partials/_htmlhead') %>
<title>search</title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="text-center m-4">search</h1>

    <div class="m-5">
        <form action="/stories/search" method="POST" class="row mb-3">
            <label for="title-search" class="col text-end col-form-label">by title:</label>
            <div class="col">
                <input type="search" id="title-search" name="titleSearch" class="h-100 w-100">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary flex-grow-0">search</button>
            </div>
        </form>
        <form action="/stories/search" method="POST" class="row mb-3">
            <label for="author-search" class="col text-end col-form-label">by author:</label>
            <div class="col">
                <input type="search" id="author-search" name="authorSearch" class="h-100 w-100">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary flex-grow-0">search</button>
            </div>
        </form>
    </div>
    <div class="cards py-2 mt-0">
        <% stories.forEach(story => { %>
        <a href="/stories/<%= story._id %>" class="card-wrapper m-1">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h3 class="card-title"><%= story.name %></h3>
                    <p class="card-text">by</p>
                    <h3 class="card-subtitle text-muted">
                        <%= story.owner.alias ? story.owner.alias : story.owner.username %></h3>
                </div>
            </div>
        </a>
        <% }); %>
    </div>
</body>

</html>