<%- include('../partials/_htmlhead') %>
<title><%= story.name %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1><%= story.name %></h1>
    <h2>by <a href="/users/<%= story.owner._id %>"><%= story.owner.alias %></a></h2>
    <br>
    <% if (editPrivilege) { %>
    <form action="/stories/<%= story._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= story.name %></button>
    </form>
    <% }; %>
    <br><br>
    <% if (editPrivilege) { %>
    <a href="/stories/<%= story._id %>/edit"><input type="button" value="Edit <%= story.name %>"></a>
    <br><br>
    <% }; %>

    <%- story.body.split('\n').map(t => `<p>${t}</p>`).join(''); %>

    <br><br>

</body>

</html>