<%- include('../partials/_htmlhead') %>
<title><%= story.name %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="text-center mt-4"><%= story.name %></h1>
    <h2 class="text-center">by <a href="/users/<%= story.owner._id %>"><%= story.owner.alias %></a></h2>
    <br>
    <% if (editPrivilege) { %>
    <form action="/stories/<%= story._id %>?_method=DELETE" method="POST" class="text-center">
        <button type="submit" class="btn btn-primary">Delete "<%= story.name %>"</button>
    </form>
    <br>
    <% }; %>
    <% if (editPrivilege) { %>
    <div class="text-center">
        <a href="/stories/<%= story._id %>/edit" class="btn btn-primary">Edit "<%= story.name %>"</a>
    </div>
    <% }; %>
    <div class="m-4 p-4">
        <%- story.body.split('\n').map(t => `<p>${t}</p>`).join(''); %>
    </div>

    <br><br>

</body>

</html>