<%- include('../partials/_htmlhead') %>
<title><%= user.username %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="m-4 text-center">edit <%= user.username %></h1>
    
    <br><br>
    <form action="/users/<%= user._id %>?_method=PUT" method="POST">
        <label for="userType">are you an author?</label>
        <input type="checkbox" name="userType" id="userType">
        <br>
        <label for="alias" class="reveal-if-active">publishing alias:</label>
        <input type="text" name="alias" id="alias" class="reveal-if-active">
        <label for="bio" class="reveal-if-active">bio:</label>
        <textarea name="bio" id="bio" class="reveal-if-active"></textarea>
        <label for="birth" class="reveal-if-active">birth year:</label>
        <input type="number" name="birth" id="birth" min="0" max="2025" class="reveal-if-active">
        <button type="submit">update profile</button>
    </form>
</body>

</html>