<%- include('../partials/_htmlhead') %>
<title><%= user.username %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="m-4 text-center">edit <%= user.username %></h1>
    
    <form action="/users/<%= user._id %>?_method=PUT" method="POST" class="mx-5 p-5 card">
        <div class="form-group row mb-2">
            <label for="userType" class="col-sm-2 offset-sm-2 col-form-label">are you an author?</label>
            <div class="col-sm-8 form-check form-switch">
                <input type="checkbox" name="userType" id="userType" class="form-check-input" <%= user.userType === 'author' ? 'checked' : '' %>>
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="alias" class="col-sm-2 offset-sm-2 col-form-label">publishing alias:</label>
            <div class="col-sm-8">
                <input type="text" name="alias" id="alias" value="<%= user.alias %>" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-2">
            <label for="bio" class="col-sm-2 offset-sm-2 col-form-label">bio:</label>
            <div class="col-sm-8">
                <textarea name="bio" id="bio" class="form-control"><% console.log(`user: ${user}`) %></textarea>
            </div>
        </div>
        <div class="col offset-sm-2">
            <button type="submit" class="btn btn-primary mt-4">update</button>
        </div>
    </form>
</body>

</html>