<%- include('../partials/_htmlhead') %>
<title><%= user.username %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1><%= user.username %></h1>
    <ul>
        <% stories.forEach(story => { %>
        <% console.log(`story: ${story}`) %>
        <li><a href="/stories/<%= story._id %>"><%= story.name %></a></li>
        <% }); %>
    </ul>
    <% if(adminPrivilege) { %>
    <form action="/users/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= user.username %></button>
    </form>
    <% }; %>
    <br><br>
    <p><%= adminPrivilege %></p>
</body>

</html>