<%- include('../partials/_htmlhead') %>
<title><%= userFound.username %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1 class="text-center m-4"><%= userFound.alias ? userFound.alias : userFound.username %></h1>
    <% if(user.userType === 'admin') { %>
    <form action="/users/<%= userFound._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= userFound.username %></button>
    </form>
    <% } else if (userFound.userType === 'author') { %>
    <div class="bio">
        <p><%= userFound.bio %></p>
    </div>
    <% }; %>
    <div class="cards py-2 mt-0">
        <% stories.forEach(story => { %>
        <a href="/stories/<%= story._id %>" class="card-wrapper m-1">
            <div class="card bg-light">
                <div class="card-body text-center">
                    <h3 class="card-title"><%= story.name %></h3>
                    <p class="card-text">by</p>
                    <h3 class="card-subtitle text-muted">
                        <%= story.owner.alias ? story.owner.alias : story.owner.username %></h3>
                </div>
            </div>
        </a>
        <% }); %>
    </div>
    <br><br>
    <% if (me) { %>
    <a href="/users/<%= userFound._id %>/edit">edit my profile</a>
    <% }; %>
    <br><br>
</body>

</html>