<%- include('../partials/_htmlhead') %>
<title><%= userFound.username %></title>
</head>

<body>
    <%- include('../partials/_navbar') %>
    <h1><%= userFound.username %></h1>
    <div class="cards">
        <% stories.forEach(story => { %>
        <a href="/stories/<%= story._id %>" class="card-wrapper">
            <div class="card">
                <h3><%= story.name %></h3>
                <p>by</p>
                <h3><%= story.owner.alias ? story.owner.alias : story.owner.username %></h3>
            </div>
        </a>
        <% }); %>
    </div>
    <br><br>
    <% if (me) { %>
        <a href="/users/<%= userFound._id %>/edit">edit my profile</a>
    <% }; %>
    <br><br>
</body>

</html>